@use 'styles' as ds;

.Root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  font-family: ds.$font-family-golos;
  color: ds.$color-secondary-100;
  background-color: ds.$color-secondary-10;
}