$primary-100: #520010;
$primary-90: #a30021;
$primary-80: #cc0029;
$primary-70: #e81741;
$primary-60: #fa4368;
$primary-50: #ff8ca3;
$primary-40: #ffc4d0;
$primary-30: #ffd9e0;
$primary-20: #ffeaee;
$primary-10: #fcf2f4;

$secondary-100: #13151a;
$secondary-80: #383d45;
$secondary-70: #5d6570;
$secondary-60: #97a0ad;
$secondary-50: #acb5c2;
$secondary-40: #bcc4cf;
$secondary-30: #d7dce2;
$secondary-20: #e6e9ed;
$secondary-10: #F5F7FA;
$secondary-0: #fff;

$accent-blue-100: #001747;
$accent-blue-90: #002470;
$accent-blue-80: #003199;
$accent-blue-70: #134bc2;
$accent-blue-60: #2f6aeb;
$accent-blue-50: #588cff;
$accent-blue-40: #7ca6ff;
$accent-blue-30: #a1bfff;
$accent-blue-20: #c6d8ff;
$accent-blue-10: #e0eaff;
$accent-blue-05: #eff4ff;
