@use 'styles' as ds;

.Filters {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: space-between;

  :global(.ant-tag-checkable-checked) {
    background-color: ds.$color-primary-70;
  }

  :global(.ant-tag-checkable:not(.ant-tag-checkable-checked):hover) {
    background-color: ds.$color-primary-60;
    color: ds.$color-secondary-0;
  }
  
  :global(.ant-select.ant-select-outlined:not(.ant-select-disabled).ant-select-focused),
  :global(.ant-select.ant-select-outlined:not(.ant-select-disabled):hover) {
    --select-border-color: ds.$color-primary-40;
    box-shadow: none;
  }
}

.Filters__tags {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

:global(.ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled)) {
  background-color: ds.$color-primary-40;
}